/* 
    Document   : send_mail
    Created on : 09-12-2013, 22:43:12
    Author     : phule@innoria.com
    Description:
        Purpose of the stylesheet follows.
*/


#container_main #form_content_mail {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

#container_main #form_content_mail .page_center{
  width: 900px;
  height: auto;
  margin: 0 auto;
  background: #FFF;
  float: left;
}

#container_main #form_content_mail .page_center .banner_mail{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  
  
/*  background: #005702;*/
  
}

#container_main #form_content_mail .page_center .input_items{
  width: 900px;
  height: 200px;
  margin: 0 auto;
  
}
#container_main #form_content_mail .page_center .input_items .info_add_email{
  width: 800px;
  height: 150px;
  margin: 0 auto;
  margin-left: 50px;

  
}
#container_main #form_content_mail .page_center .list_email_added{
  width: 800px;
  height: 150px;
  margin: 0 auto;
  margin-left: 50px;


}


#container_main #form_content_mail .page_center .list_email_added ul{
  width: 800px;
  height: auto;
  margin: 0 auto;
 list-style: none;
  background: #eee;
}

#container_main #form_content_mail .page_center .list_email_added ul li{
  width: 120px;
  height: 30px;
  
  float: left;
  margin-left: 10px;
  font-size: 11px;
}



#container_main #form_content_mail .page_center .list_email_added ul .delete_mail{
  width: 10px;
  height: 30px;
  
  float: left;
}







select, input[type="text"] .uneditable-input {
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
 
}
#param_titles_name{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.keyvalueeditor-key, .keyvalueeditor-value {
  color: #333 !important;
  padding: 5px !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: solid thin #CCC !important;
  border-radius: 0 !important;
  outline: none !important;
  margin-right: 10px !important;
  width: 224px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}




