/* 
    Document   : send_mail
    Created on : 09-12-2013, 22:43:12
    Author     : phule@innoria.com
    Description:
        Purpose of the stylesheet follows.
*/


#container_main #form_content_mail {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

#container_main #form_content_mail .page_center{
  width: 900px;
  height: auto;
  margin: 0 auto;
  background: #FFF;
  float: left;
}

#container_main #form_content_mail .page_center .div_btn_save{
  width: 800px;
  height: auto;
  margin-left: 50px;
  float: left;
}
#container_main #form_content_mail .page_center .div_btn_save{
  width: 800px;
  height: auto;
  margin-left: 50px;
  float: left;
}
#container_main #form_content_mail .page_center .div_btn_save #btn_add_email{
  width: 70px;
  height: 30px;
  float: left;
  margin-bottom: 50px;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-image: -o-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: -moz-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: -webkit-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: -ms-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: linear-gradient(to bottom, #F5B30C 0%, #FFD900 100%);
  
  
}
#container_main #form_content_mail .page_center .div_btn_save #btn_add_email:active{

   background-image: -o-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: -moz-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: -webkit-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: -ms-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: linear-gradient(to bottom, #F5B30C 0%, #FFAA00 100%);
  
  
}

#container_main #form_content_mail .page_center .banner_mail{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  
  
/*  background: #005702;*/
  
}

#container_main #form_content_mail .page_center .input_items{
  width: 900px;
  height: auto;
  margin: 0 auto;
  
}
#container_main #form_content_mail .page_center .input_items .info_add_email{
  width: 800px;
  height: auto;
  margin-left: 50px;

  
}
#container_main #form_content_mail .page_center .list_email_added{
  width: 800px;
  height: auto;
  margin-left: 50px;
  border: 1px solid #ddd;
  float: left;
  margin-bottom: 20px;

}


#container_main #form_content_mail .page_center .list_email_added ul{
  width: 800px;
  height: auto;
 list-style: none;
  float: left;
  
}
#container_main #form_content_mail .page_center .list_email_added ul.blue{
 
  background: #eee;
}
#container_main #form_content_mail .page_center .list_email_added ul li .text{
  margin-top: 18px;
}



#container_main #form_content_mail .page_center .list_email_added ul.title_email_list{
  width: 800px;
  height: auto;
 list-style: none;
  float: left;
}
#container_main #form_content_mail .page_center .list_email_added ul.title_email_list li .text span{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  
}
#container_main #form_content_mail .page_center .list_email_added ul li{
  width: 200px;
  height: 50px;
  
  float: left;
  margin-left: 10px;
}
#container_main #form_content_mail .page_center .list_email_added ul li{
  width: 200px;
  height: 50px;
  
  float: left;
  margin-left: 10px;
}
#container_main #form_content_mail .page_center .list_email_added ul li .text{
 font-size: 12px;
 font-family: Arial, sans-serif;
  
}


#container_main #form_content_mail .page_center .list_email_added ul .delete_mail{
  width: 10px;
  height: 30px;
  
  float: left;
}







select, input[type="text"] .uneditable-input {
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
 
}
#param_titles_name{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.keyvalueeditor-key, .keyvalueeditor-value {
  color: #333 !important;
  padding: 5px !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: solid thin #CCC !important;
  border-radius: 0 !important;
  outline: none !important;
  margin-right: 10px !important;
  width: 224px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}




