/* 
    Document   : send_mail
    Created on : 09-12-2013, 22:43:12
    Author     : phule@innoria.com
    Description:
        Purpose of the stylesheet follows.
*/


#container_main #form_content_mail {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

#container_main #form_content_mail .page_center{
  width: 900px;
  height: 1000px;
  margin: 0 auto;
  background: #FFF;
  
}

#container_main #form_content_mail .page_center .banner_mail{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  
  
/*  background: #005702;*/
  
}


