/* 
    Document   : send_mail
    Created on : 09-12-2013, 22:43:12
    Author     : phule@innoria.com
    Description:
        Purpose of the stylesheet follows.
*/


#container_main #form_content_mail {
  width: 900px;
  height: auto;
  margin: 0 auto;
}

#container_main #form_content_mail .page_center{
  width: 900px;
  height: auto;
  margin: 0 auto;
  background: #FFF;
  float: left;
  
}
#container_main #form_content_mail .template{
  width: 150px;
  height: auto;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}



#container_main #form_content_mail .page_center .banner_mail{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  
  
/*  background: #005702;*/
  
}

#container_main #form_content_mail .page_center .input_items{
  width: 800px;
  height: auto;
  margin: 0;
  margin-left: 50px;
  
}
#container_main #form_content_mail .page_center .subject_mail{
  width: 800px;
  height: auto;
  margin: 0;
  margin-left: 50px;
  margin-bottom: 10px;
  
  
}
#container_main #form_content_mail .page_center .subject_mail span{
  color:#FF9933;
  font-size: 20px;
  font-weight: bold;
  
  
}

#container_main #form_content_mail .page_center .editor_form{
  width: 800px;
  height: auto;
  margin-left: 50px;
  border: 1px solid #ddd;
}
#container_main #form_content_mail .page_center .title_content_mail{
  width: 800px;
  height: auto;
  margin-left: 50px;
}
#container_main #form_content_mail .page_center .title_content_mail span{
  font-size: 15px;
  font-weight: bold;
  color: #999;
  font-family: sans-serif;
}

#container_main #form_content_mail .page_center .title_mail_config{
  width: 800px;
  height: auto;
  margin-left: 50px;
  margin-top: 50px;
}
#container_main #form_content_mail .page_center .title_mail_config span{
  font-size: 15px;
  font-weight: bold;
  color: #999;
  font-family: sans-serif;
}
#container_main #form_content_mail .page_center .list_mail_to{
  width: 800px;
  height: auto;
  margin-left: 50px;
  margin-top: 50px;
}
#container_main #form_content_mail .page_center .list_mail_to span{
  font-size: 15px;
  font-weight: bold;
  color: #999;
  font-family: sans-serif;
}



#container_main #form_content_mail .page_center .img_form{
  width: 200px;
  height: auto;
  margin-left: 50px;
}


#container_main #form_content_mail .page_center .img_form ul{
  width: 800px;
  height: auto;
  list-style: none;
  float: left;
  
}

#container_main #form_content_mail .page_center .img_form ul li #append_img_content{
  width: 800px;
  height: auto;
  float: left;
  
  
}
#container_main #form_content_mail .page_center .img_form ul li #append_img_content .preview_post{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  
}
#container_main #form_content_mail .page_center .tabs{
  width: 800px;
  height: auto;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#container_main #form_content_mail .page_center .tabs ul{
  width: 800px;
  height: auto;
  float: left;
  list-style: none;
}
#container_main #form_content_mail .page_center .tabs ul li{
  width: 200px;
  height: auto;
  float: left;
  margin-right: 10px;
  
}
#container_main #form_content_mail .page_center .tabs ul li span{
  color: #999;
  margin-left: 10px;
  
}




#container_main #form_content_mail .page_center .btn_save{
  width: 800px;
  height: auto;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
  
}
#container_main #form_content_mail .page_center .btn_send_mail{
  width: 70px;
  height: 30px;
  float: left;
  margin-bottom: 50px;
  color: #000;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-image: -o-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: -moz-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: -webkit-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: -ms-linear-gradient(bottom, #F5B30C 0%, #FFD900 100%);
  background-image: linear-gradient(to bottom, #F5B30C 0%, #FFD900 100%);
  
}
#container_main #form_content_mail .page_center .btn_send_mail:active{
  background-image: -o-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: -moz-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: -webkit-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: -ms-linear-gradient(bottom, #F5B30C 0%, #FFAA00 100%);
  background-image: linear-gradient(to bottom, #F5B30C 0%, #FFAA00 100%);
  
}

#container_main #form_content_mail .page_center .table_list_email_to{
  width: 800px;
  height: auto;
  margin: 0 auto;
  margin-left: 50px;
  border: 1px solid #ddd;
  float: left;
}
#container_main #form_content_mail .page_center .table_list_email_to .ul_check_all span{
  font-size: 14px;
  color: #999;
  font-family: sans-serif;
  font-style: italic;
}

#container_main #form_content_mail .page_center .table_list_email_to ul{
  width: 800px;
  height: auto;
  margin: 0 auto;
  list-style: none;
  float: left;
}

#container_main #form_content_mail .page_center .table_list_email_to ul.blue{
  width: 800px;
  height: auto;
  margin: 0 auto;
  list-style: none;
  float: left;
  background: #eee;
}

#container_main #form_content_mail .page_center .table_list_email_to ul li{
  width: 150px;
  height: 50px;
  float: left;
  margin-left: 10px;
}

#container_main #form_content_mail .page_center .table_list_email_to ul li.chose_email{
  width: 100px;
  height: 50px;
  float: left;
  margin-left: 10px;
}
#container_main #form_content_mail .page_center .table_list_email_to ul li.li_email{
  width: 200px;
  height: 50px;
  float: left;
  margin-left: 10px;
}
#container_main #form_content_mail .page_center .table_list_email_to ul li #status_send_mail{
  width: 20px;
  height:20px;
  float: left;
  margin-left: 10px;
  
}
#container_main #form_content_mail .page_center .table_list_email_to ul li #status_send_mail.success{
  background: url('../img/checked.png');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  
}
#container_main #form_content_mail .page_center .table_list_email_to ul li #status_send_mail.error{
  background: url('../img/error.png');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  
}

#container_main #form_content_mail .page_center .table_list_email_to ul li #status_send_mail.loading{
  background: url('../img/loading.gif');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  
}


#container_main #form_content_mail .page_center .table_list_email_to ul li .text{
  margin-top: 18px;
}






select, input[type="text"] .uneditable-input {
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
 
}
#param_titles_name{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.keyvalueeditor-key, .keyvalueeditor-value {
  color: #333 !important;
  padding: 5px !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: solid thin #CCC !important;
  border-radius: 0 !important;
  outline: none !important;
  margin-right: 10px !important;
  width: 224px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#disable_screen {
  width: 100%;
  height: 10000px;
  margin-top: -100px;

 
}
#disable_screen.active {
  opacity: 0.3;
  background: #000;
}
#disable_screen.active .img_load_send{
  width: 200px;
  height: 100px;
  background: url(../img/sendmail.gif);
  background-size: 200px 100px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 45%;
  margin-top: 20%;
  position: absolute;

}
